apiVersion: v1
kind: Secret
metadata:
  name: gyaru-pyon-secret
type: Opaque
data:
  database_url: xxx
  watson_api_key: xxx
  watson_tone_analyzer_url: xxx
  deepl_token: xxx
  session_secret: xxx
  jwt_secret: xxx
  aitalk_username: xxx
  aitalk_password: xxx
